html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: lightgrey;
}

.container {
    min-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0;
}

.sidebar h5, .sidebar h3, .sidebar h2 {
    margin-bottom: 0;
}

/* Main Content */

.item-card {
    width: 250px;
    height: 250px;
    position: relative;
    margin-right: 10px;
    transition: transform 0.3s;
    overflow: hidden;
}

.item-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.item-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.card-body-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
}

.item-image, .card-body-overlay { /* Removes a click event */
    pointer-events: none;
}

.clicked {
    transform: scale(1.05);
    border: 2px solid royalblue;
}

/* Sidebar */

.sidebar {
    background-color: white;

    float: right;
    height: 92.5%;
    position: fixed;
    right: 0;
    display: flex;
    border: 1px solid black;
}

#sidebar-content {
    width: 100%;
}

#clearTotalContainer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

#clearTotal {
    width: 100%;
    height: 40px;
}

/* Display Current Item */

#headerDiv {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}

#servingsDiv {
    border-bottom: 5px solid black;
    padding-bottom: 2px;
}

#caloriesDiv {
    border-bottom: 3px solid black;
    padding-bottom: 2px;
}

#caloriesDiv h5 {
    font-size: 110%;
}

#caloriesDiv h2 {
    font-size: 175%
}

#dailyValueDiv h5 {
    text-align: right;
    font-size: medium;
}

#nutritionInfo li {
    border-top: 1px solid black;
    list-style-type: none;
}

ul {
    padding-left: 0;
}

#supplementList {
    border-top: 8px solid black;
    border-bottom: 12px solid black;
}

/* Disply Total */

.halfContainer {
    width: 48%;
    float: left;
    margin-right: 10px;
}


#nutritionTotal li {
    list-style-type: none;
}